{{#each model.songs as |song|}}
  <div class = "song">
    {{song.title}}
  </div>
  {{else}}
    <p>
      No Songs For this artist
    </p>
    {{/each}}
    <br>
    <br>
    <form on submit = {{action 'createSong'}}>
      Name:{{input type = "text" value = songName}}
      <br>
      Price : {{input type  = "text" value = price}}
      <br>
      Created By: {{input type = "text" value = createdBy}}
      <br>
      <button type = "submit" class = "btn btn-primary"> Create Song </button>
    </form>
    
